<aside [class.open]="isMenuOpen">
    <div class="sidebarContent">
        <!-- Imagen solo visible en pantallas grandes -->
        <img src="/assets/IMG_3559[1].jpg" alt="" class="sidebarImage">
        <div class="sidebarMenu">
            <ul>
                <li><a routerLink="/" href="#"><i class="ri-home-fill"></i>Inicio</a></li>
                <li><a routerLink="/mi-carrera" href="#"><i class="ri-user-fill"></i>Mi carrera</a></li>
                <li><a routerLink="/portafolio" href="#"><i class="ri-suitcase-fill"></i>Portafolio</a></li>
                <li><a routerLink="/contacto" href="#"><i class="ri-phone-fill"></i>Contacto</a></li>
            </ul>
            <div class="social">
                <a href="#"><i class="ri-mail-fill"></i></a>
                <a href="#"><i class="ri-linkedin-box-fill"></i></a>
                <a href="#"><i class="ri-github-fill"></i></a>
            </div>
        </div>
    </div>
</aside>

<!-- Botón de menú hamburguesa solo visible en pantallas pequeñas -->
<button class="hamburger" (click)="toggleMenu()">
    <i class="ri-menu-line"></i>
</button>