<aside>
    <div class="sidebarContent">
        <img src="Assets/Img/2.jpg" alt="">
        <div class="sidebarMenu">
            <ul>
                <li><a href="#"><i class="ri-home-fill"></i>Inicio</a></li>
                <li><a href="#"><i class="ri-user-fill"></i>Mi carrera</a></li>
                <li><a href="#"><i class="ri-suitcase-fill"></i>Portafolio</a></li>
                <li><a href="#"><i class="ri-phone-fill"></i>Contacto</a></li>
            </ul>
            <div class="social">
                <a href="#"><i class="ri-mail-fill"></i></a>
                <a href="#"><i class="ri-linkedin-box-fill"></i></a>
                <a href="#"><i class="ri-github-fill"></i></a>
            </div>
        </div>
    </div>
</aside>