<div class="experience-section">
    <h2 class="subtitle">Experiencia</h2>
    <div class="timeline">
      <div class="timeline-item">
        <div class="circle"></div>
        <div class="content">
          <h3 class="subtitle1">MobyDigital</h3>
          <p class="position">Pre Academy Frontend Angular</p>
          <p class="date">Mayo 2024 - Actualidad</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="circle"></div>
        <div class="content">
          <h3 class="subtitle1">Siniestrados Liniers</h3>
          <p class="position">Proyecto de diseño y desarrollo web</p>
          <p class="date">Junio 2024 - Agosto 2024</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="circle"></div>
        <div class="content">
          <h3 class="subtitle1">Gambini Rurales</h3>
          <p class="position">Proyecto de diseño y desarrollo web</p>
          <p class="date">Junio 2024 - Agosto 2024</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="circle"></div>
        <div class="content">
          <h3 class="subtitle1">Aberturas LIF</h3>
          <p class="position">Proyecto de diseño y desarrollo web con catálogo digital</p>
          <p class="date">Junio 2024 - Agosto 2024</p>
        </div>
      </div>
    </div>
  </div>





<!-- <div class="experience">
    <h2>Experiencia</h2>
    <ul>
        <li>
            <strong>MobyDigital</strong><br>
            Pre Academy Frontend Angular<br>
            Mayo 2024 - Actualidad
        </li>
        <li>
            <strong>Siniestrados Liniers</strong><br>
            Proyecto de diseño y desarrollo web<br>
            Junio 2024 - Agosto 2024
        </li>
        <li>
            <strong>Gambini Rurales</strong><br>
            Proyecto de diseño y desarrollo web<br>
            Junio 2024 - Agosto 2024
        </li>
        <li>
            <strong>Aberturas LIF</strong><br>
            Proyecto de diseño y desarrollo web con catálogo digital<br>
            Junio 2024 - Agosto 2024
        </li>
    </ul>
</div> -->
