.containerGrid {
    display: grid;
    grid-template-columns: 13.85rem 1fr; /* Primera columna para el aside, segunda para el contenido */
    height: 100vh; /* Para que el grid ocupe toda la altura de la ventana */
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
}
.sectionTitle{
    margin-bottom: 2rem;
}
.mainContent {
    display: flex;
    flex-direction: column;
    width: 100%; /* Para que ocupe el espacio restante del menú */
    height: 100vh; /* Ocupa toda la altura de la ventana */
}
.scrollableContent {
    padding: 0 2rem;
}