.containerGrid {
    display: grid;
    grid-template-columns: 13.85rem 1fr; /* Primera columna para el aside, segunda para el contenido */
    height: 100vh; /* Para que el grid ocupe toda la altura de la ventana */
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 4rem;
    margin-bottom: 2rem;
}
.sectionTitle{
    margin-bottom: 2rem;
}
.mainContent {
    display: flex;
    flex-direction: column;
    width: 100%; /* Para que ocupe el espacio restante del menú */
    height: 100vh; /* Ocupa toda la altura de la ventana */
}


@media screen and (max-width: 572px){
    .gridContainer{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

}
/* Estilos responsivos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .containerGrid {
        grid-template-columns: 1fr; /* Elimina la barra lateral */
        height: auto; /* Permite que el contenido crezca según sea necesario */
    }

    .mainContent {
        padding: 1rem; /* Añade padding para mejorar la legibilidad */
        width: 100%;
        height: auto; /* Permite que el contenido se expanda */
    }

    .sectionTitle {
        margin-bottom: 1rem;
        text-align: center; /* Centra el título para una mejor visualización en móviles */
    }
    .title{
        font-size: 4rem;
    }
}

/* Ajustes para pantallas medianas */
@media screen and (max-width: 1024px) {
    .containerGrid {
        display: block; /* Ajusta el tamaño del menú */
    }

    .gridContainer {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en lugar de tres */
        gap: 1.5rem;
        padding: 0 2rem;
    }
}