<main class="containerGrid">
    <app-menu/>
    <div class="mainContent">
        <div class="sectionTitle">
            <h1 class="title">Mi carrera</h1>
        </div>
        <div class="scrollableContent">
            <div class="gridContainer">
                <app-experience/>
                <app-technical-skills/>
                <app-about-me/>
                <app-lenguages/>
                <app-soft-skills/>
                <app-education/>
            </div>
        </div>
    </div>
</main>

