<main class="containerGrid">
    <app-menu/>
    <div class="mainContent">
        <div class="sectionTitle">
            <h1 class="title">Mi carrera</h1>
        </div>
        <div class="scrollableContent">
            <div class="gridContainer">
                <app-experience class="reveal"/>
                <app-technical-skills class="reveal"/>
                <app-about-me class="reveal"/>
                <app-lenguages class="reveal"/>
                <app-soft-skills class="reveal"/>
                <app-education class="reveal"/>
            </div>
        </div>
    </div>
</main>

