button {
    background-color: var(--white);
    border: 0;
    // border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.menuActivo:hover{
    transform: scale(1.02);
    color: #fff;
}

.menuActivo i {
    color: #fff;
    transition: all 0.3s ease-in-out;
}

button:hover i {
    color: #fff;
}

.menuPortafolioContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 2rem;
    gap: 2rem;
}

.menuComponent{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem
}

.menuActivo{
    color: #fff;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--white);
    border: 1px solid #ccc;
    padding: 10px;
    top: 100%;
    left: 0;
    z-index: 10;
  }

  .submenu a {
    margin: 5px 0;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    padding: 0.5rem;
  }
  
  .submenu a:hover {
    background-color: var(--primary-color);
    border-radius: 15px ;
    color: #fff;
  }


  @media screen and (max-width: 620px){
    .menuPortafolioContainer{
        gap: 1rem;
        flex-direction: column;
    }
  }