.technical-skills{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

  .progress.html {
    width: 90%;
  }
  
  .progress.css {
    width: 80%;
  }
  
  .progress.js {
    width: 80%;
  }
  
  .progress.angular {
    width: 40%;
  }
  
  .progress.figma {
    width: 90%;
  }
  .progress.git{
    width: 70%;
  }