<div class="technical-skills">
    <h2 class="subtitle">Habilidades técnicas</h2>
    <div class="skill">
        <label for="html">HTML - Senior</label>
        <div class="progress-bar">
          <div class="progress html">
            <span class="dot"></span>
          </div>
        </div>
    </div>
    <div class="skill">
        <label for="css">CSS - Semi Senior</label>
        <div class="progress-bar">
          <div class="progress css">
            <span class="dot"></span>
          </div>
        </div>
    </div>
    <div class="skill">
        <label for="javascript">JavaScript  - Semi Senior</label>
        <div class="progress-bar">
          <div class="progress js">
            <span class="dot"></span>
          </div>
        </div>
    </div>
    <div class="skill">
        <label for="angular">Angular - Junior</label>
        <div class="progress-bar">
          <div class="progress angular">
            <span class="dot"></span>
          </div>
        </div>
    </div>
    <div class="skill">
        <label for="figma">Figma - Senior</label>
        <div class="progress-bar">
          <div class="progress figma">
            <span class="dot"></span>
          </div>
        </div>
    </div>
    <div class="skill">
        <label for="git">Git - Semi Senior</label>
        <div class="progress-bar">
          <div class="progress git">
            <span class="dot"></span>
          </div>
        </div>
    </div>
</div>
