.containerGrid {
    display: grid;
    grid-template-columns: 13.85rem 1fr; /* Primera columna para el aside, segunda para el contenido */
    height: 100vh; /* Para que el grid ocupe toda la altura de la ventana */
}
.stickyContainer {
    display: flex;
    justify-content: center;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100; 
    background-color: white;
    padding: 1rem 0;
}
.gridContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
}
.mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.scrollableContent {
    padding: 0 4rem;
}

.sectionTitle{
    flex-direction: column;
}
