<div class="languages">
    <h2 class="subtitle">Idiomas</h2>
    <div class="skill">
        <label for="ingles">Inglés</label>
        <div class="progress-bar">
          <div class="progress ingles">
            <span class="dot"></span>
          </div>
        </div>
        <p class="first">First Certificate - Cambridge</p>
    </div>
    <div class="skill">
        <label for="español">Español</label>
        <div class="progress-bar">
          <div class="progress espanol">
            <span class="dot"></span>
          </div>
        </div>
    </div>
</div>
