<header class="headerContainer">
    <div class="containerWelcome">
        <div class="welcomeMain">
            <div class="greeting">
                <h1>¡Hola!</h1>
                <h2>Soy Leandro</h2>
            </div>
            <h3>Desarrollador y diseñador web</h3>
            <p>Me especializo en desarrollar soluciones digitales creativas y eficientes, <strong>centradas en el frontend</strong> y potenciadas por Angular. Mi enfoque está en construir aplicaciones web escalables y dinámicas que ofrecen experiencias de usuario fluidas y de alto rendimiento.</p>
            <div class="buttons">
                <a routerLink="/mi-carrera" href="#" class="btn primary">Ver portafolio</a>
                <a href="#" class="btn secondary">Contactame</a>
            </div>
        </div>
    </div>
    <div class="smallSidebar">
        <img src="assets/foto.jpg" alt="" class="background-image">
    </div>
</header>
