.headerContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--background-gray);
    background-image: url('/assets/Vector1.png');
    // background-blend-mode: overlay; /* Mezcla la imagen y el color de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: contain; /* Centra la imagen */
}

.smallSidebar {
    position: relative;
    width: 40%;
    background-color: #000000; /* Color de fondo para que se vea bien la imagen */
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.containerWelcome{
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.welcomeMain {
    max-width: 400px;
}

.greeting h1 {
    font-size: 1.5rem;
    font-family: Bold;
}

.greeting h2 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    font-family: Bold;
}

.welcomeMain h3 {
    font-family: SemiBold;
    background-color: var(--primary-color);
    color: #fff;
    display: inline-block;
    padding: 8px;
}

.welcomeMain p {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}